@import url('https://use.typekit.net/gjt6rvl.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body,
    html {
        @apply bg-white font-font font-medium text-base scroll-smooth m-0 p-0
    }

    a {
        @apply no-underline
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-font text-heading
    }

    p {
        @apply leading-6
    }

    .theme-heading {
        @apply font-bold text-[40px] text-heading
    }
}

body,
html {
    color: theme('colors.text');
}

* {
    box-sizing: border-box;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.theme-btn {
    background-color: theme('colors.primary');
    border: 0;
    border-radius: 3px;
    padding: 10px 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: 0.3s ease;
    min-width: 341px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid theme('colors.primary');
}

.theme-btn.outline-btn {
    background-color: transparent;
    border: 2px solid theme('colors.primary');
    color: theme('colors.primary');
}

.theme-btn.blue-btn {
    background-color: theme('colors.lightblue');
}

.theme-btn svg {
    width: 26px;
}

@media (max-width: 576px) {
    .theme-btn {
        font-size: 14px;
        height: 45px;
    }
}

.shadow-1 {
    box-shadow: 0px 12px 35px #4EB07073;
}

.shadow-2 {
    box-shadow: 0px 3px 16px #0000001F;
}

.shadow-3 {
    box-shadow: 0px 3px 6px #00000029;
}

.shadow-4 {
    box-shadow: 0px 8px 45px #00000026;
}

.shadow-5 {
    box-shadow: 0px 3px 6px #50B37573;
}



.testimonial .swiper-slide {
    opacity: 0.5;
}

.testimonial .swiper-slide-next,
.testimonial .swiper-slide-active,
.testimonial .swiper-slide-prev {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: theme('colors.green') !important;
    opacity: 1 !important;
}

.input-control {
    border-color: rgb(80 179 117 / 0.7);
    border-width: 2px;
    border-radius: 8px;
    display: block;
    padding: 13px 25px;
    font-size: 16px;
    color: theme("colors.heading");
    width: 100%;
}

.input-control:focus-visible {
    outline: 0;
}

.moretreatments .swiper-slide img {
    top: 0 !important;
}

@media (max-width: 1500px) {
    .bottlesRigh {
        right: -115px;
    }
}

@media (max-width: 576px) {
    .input-control {
        padding: 9px 25px;
    }
}